@{
    ViewBag.Title = "About";
    ViewBag.BackgroundHeaderImg = $"{Context.Request.PathBase}/img/about-bg.jpg";
    ViewBag.PageHeader = "About Me";
    ViewBag.PageSubHeader = "This is what I do.";
}

<div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
        <p>J.D. is a Software Engineer by profession and a swing trader in Forex market. He's primarily using fundamental analysis to trade market direction and technical analysis for position entry or exit.</p>
        <p>That's all :D</p>
    </div>
</div>